@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #313131;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #323232;
    --foreground: #ededed;
  }
  button.slick-next::before,
  button.slick-prev::before {
    border-radius: 2px;
    color: var(--background);
  }
} */

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}

body, p, span, li {
  font-family: var(--font-open-sans);
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

button.slick-next::before,
button.slick-prev::before {
  border-radius: 2px;
  @apply text-stone-100 text-3xl;
}

.dark button.slick-next::before,
.dark button.slick-prev::before {
  @apply text-stone-100;
}

ul.slick-dots > li > button::before,
ul.slick-dots > li.slick-active > button::before{
  @apply text-stone-100 text-xl;
}

.slick-arrow-custom.next {
  @apply top-full right-0 transform-none;
}

.slick-arrow-custom.prev {
  @apply top-full left-full -translate-x-14 translate-y-2.5;
}

ul.slick-dots {
  @apply w-max;
}

.slick-track{
  @apply flex items-center;
  display: flex !important;
}